#%Module1.0#####################################################################
##
## {{ golang_appname }} modulefile
##
## golang/{{ golang_appname }}
##
proc ModulesHelp { } {
        puts stderr "\tgo1.4.2 - Loads golang v {{ golang_version }}"
}

set gopath ~/go

module-whatis	"loads the golang programming tool suite"

setenv GOROOT /opt/go
setenv GOPATH $gopath
prepend-path PATH /opt/go/bin

if { ! [file exists $gopath] } {
  file mkdir $gopath
}

