#%Module1.0#####################################################################
##
## {{ golang_appname }} modulefile
##
## golang/{{ golang_appname }}
##
proc ModulesHelp { } {
        puts stderr "\t{{ golang_appname }} - Loads go v{{ golang_version }}"
}

set gopath ~/{{ golang_appname }}

module-whatis	"loads the golang programming tool suite v{{ golang_version }}"

setenv GOROOT /opt/go
setenv GOPATH $gopath

prepend-path PATH /opt/go/bin
prepend-path PATH $gopath/bin

if { ! [file exists $gopath] } {
  file mkdir $gopath
}
